
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        Register
    </ion-toolbar>
  </ion-header>




  <ion-content [fullscreen]="true">
    <ion-card-header>
<ion-text class="welcome" color="dark">
    <h1 class="wel">Welcome OnBoard !</h1>
    <h5>Let's help you meet up your task</h5>
  </ion-text>
  <br><br><br>
  <ion-item class="text2">
    <ion-label ></ion-label>
    <ion-input placeholder="Enter Your FullName" type="text"></ion-input>
  </ion-item>
  <br><br>
  <ion-item class="text2">
    <ion-label ></ion-label>
    <ion-input placeholder="Enter Your Email" type="text"></ion-input>
  </ion-item>
  <br><br>
  <ion-item class="text2">
    <ion-label > </ion-label>
    <ion-input placeholder="Enter Your Password" type="Password"></ion-input>
  </ion-item>
  <br><br>
  <ion-item class="text2">
    <ion-label > </ion-label>
    <ion-input placeholder="Enter Confirm Password" type="Password"></ion-input>
  </ion-item>
  <br><br>
  <ion-button expand="block" color="secondary" class="Regs" routerLink="/login">Register</ion-button>
  <br>
  <h6 class="down">Already have an account ? <a class="sign">Sign in</a></h6>
  
  </ion-card-header>
  </ion-content>
